@charset "UTF-8";
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lightsteelblue;
    color: azure;
    }
    h1{
        color: lightcoral;
        font-size: 3em;
        text-align: center;
    }
    h2{
        color: lightgreen;
        font-size: 2em;
    }
    p{
        color: lightyellow;
        text-align: justify;
        font-size: 1em;
    }